.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* sheared style */

img{
    border-radius: 20px;
}

/* header style */
.header{
    background-image: url(../../Assets/Hero-bg.png);
     
    
}

/* navigation style */
nav h2 {
    color: #4E47FF;
    font-size: 34px;
    
}
nav{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav button{
    background-color: #4E47FF;
    width: 130px;
    height: 48px;
    border-radius: 10px;
    border: none;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    
}
/* banner style */

.banner{
    text-align: center;
    padding: 200px 200px;

}

.banner-button{
    background-color: #4E47FF;
    width: 174px;
    height: 48px;
    border-radius: 10px;
    border: none;
    color:white;
    font-size: 16px;
}

/* main style */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* action style */

.section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
    gap: 150px;

}

section button{
    background-color: #4E47FF;
    width: 230px;
    height: 48px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
}
.section-description h1{
    font-size: 42px;
}

.section-description p{
    font-size: 24px;
}







