.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* sheared style */

img{
    border-radius: 20px;
}

/* header style */
.header{
    background-image: url(../../Assets/Hero-bg.png);
     
    
}
.btn:hover{
    background-color: violet;
}

/* navigation style */
nav h2 {
    color: #4E47FF;
    font-size: 34px;
    
}
nav{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav button{
    background-color: #4E47FF;
    width: 130px;
    height: 48px;
    border-radius: 10px;
    border: none;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    
}
/* banner style */

.banner{
    text-align: center;
    padding: 190px 190px;

}
.banner h2{
    font-size: 70px;
}

.banner-button{
    background-color: #4E47FF;
    width: 174px;
    height: 48px;
    border-radius: 10px;
    border: none;
    color:white;
    font-size: 16px;
}

/* main style */

main{
    background-color: rgb(215, 215, 255);
    max-width: 1140px;
    margin: 0 auto;
}

/* action style */

.section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
    gap: 150px;

}

section button{
    background-color: #4E47FF;
    width: 230px;
    height: 48px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
}
.section-description h1{
    font-size: 42px;
}

.section-description p{
    font-size: 24px;
}
/* user style */
.user-container{
    background-color: rgb(167, 167, 167);
    text-align: center;
    border-radius: 15px;
    padding-top: 10px;
    margin: 80px;
}
.user-container h1{
    font-size: 35px;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    
}
.user h1{
    font-size: 80px;
    margin: 0;
    color: blue;

}
.user p{
    color: rgb(66, 66, 66);
    padding-bottom: 10px;
}

/* box section */

.box-container{
    margin: 80px;
    
}
.box-container h2{
    text-align: center;
    font-size: 35px;

}
.box{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px 10px;
    
}
.box-footer{
    display: flex;
    gap: 35px;
    align-items: center;
    border-radius: 10px;
}
.box-footer img{
    height: 70px;
}
.box-shadow{
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px 15px;
}

/* form section */
.info-section{
    margin: 80;
}

.section-title{
    font-size: 40px;
}
.info-column{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    align-items: center;
    
}
.info-section input[type="text"], .info-section input[type="email"], .info-section textarea{
    height:34px;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-bottom: 24px;
    border: none;
}

.btn-info{ 
    background-color: #4E47FF;
    width: 100%;
    height: 34px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
}

/* footer style */
.footer-container{
    margin: 80px;
}
.footer-title{
    text-align: center;
    padding: 80px 80px;
    
    
}
.footer-title h1{
    font-size: 60px;
    color: #4E47FF;
    height: 30px;
}

.unorder-list{
    
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.unorder-list li a{
    text-decoration: none;
    color: black;
    
}





